*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    padding: min(5vh, 4rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5912f;
}

header h1{
    font-size: 2em;
    color: white;
    margin-top: -0.7em;
}

header a{
   text-decoration: none;
}

header a{
    text-align: center;
    margin-left: 1.5em;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}
header button:hover{
    cursor: pointer;
}



.whatsapp{
    position: relative;/*Permite que elementos posicionados dentro da classe sejam posicionados em relação a ela*/
}
.whatsapp img{
    position: fixed;/*Mantém imagem em uma posição dixa na tela, mesmo ao rolar a página*/
    bottom: 20px;/*Defini a distância da imagem em relação à parte inferior da tela*/
    right: 20px;/*Define a distânci da imagem em relação à direita da tela*/
    width: 5rem;/*Define a largura da imagem como 5 unidades de rem (relativas ao tamanho da fonte)*/
    height: auto;/*Ajusta a altura da imagem automaticamente para manter a proporção*/
    z-index: 999;
}




.section-01{
    padding: min(10vh, 5rem);
    width: 100%;
    background-color: #d5912f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}






.section-01 .div-uma{
    display: flex;
    flex-direction: column;
    margin: 6em;
    width: auto;
    
}


.div-uma h2{
    color: white;
    font-size: 2em;
    
}


.div-uma p{
    font-size: 0.8em;
    color: white;
    margin: 1.5rem 0;
}

.div-uma button{
    width: 17em;
    height: 1.8em;
    border-radius: 0.8em;
    border-color: #d5912f;
    font-size: 1.1em;
}

.div-uma button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
    transform: scale(1.1, 1.1);
    transition: 0.8s;
}


.div-video p{
    font-size: 1.1em;
    color: white;
    font-weight: 900;
}

.div-video video{
    width: 37em;
    height: auto;
}



.section-02{
    width: 100%;
    padding: min(40vh, 20rem);
    position: relative;
    flex-wrap: wrap;
}


.section-02 .div-2 h2{
    font-size: 1.8em;
    margin: 0 auto;
    margin-top: -5em;
}

.section-02 .div-2 p{
    font-size: 1em;
    margin: 2em 5em;
    margin-bottom: 5em;
}

.section-02 span{
    opacity: 0.5;
}

.section-02 .div-3{
    font-size: 1.9em;
    display: flex;
    margin-left: -4em;
    width: 2em;
    height: 15em;
    gap: 2em;
}

.section-02 .div-4{
    gap: 10em;
    font-size: 1em;
    display: flex;
    margin-left: -4em;
    margin-top: -19em;
}

.section-02 button{
    width: 25em;
    height: 3em;
    margin-top: 8em;
    border-radius: 1em;
    border-color: rgba(0, 0, 0, 0.527);
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    font-size: 1em;
    margin-left: 13em;
}

.section-02 button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
    transform: scale(1.1, 1.1);
    transition: 0.8s;
}



.section-03{
    width: 100%;
    padding: min(20vh, 10rem);
    background-color: #d5912f;
    color: white;
    position: relative;
    flex-wrap: wrap;
}

.section-03 .h2{
    font-size: 3em;
    margin-top: -2em;
    margin-left: 6em;
}

.section-03 .div-pai{
    display: flex;
    margin-top: 3em;
    gap: 12em;
    
}

.section-03 .div-5{
    display: block;
}

.section-03 .div-5 i{
    font-size: 4em;
    margin: 0 auto;
    
}

.section-03 .div-5 h2{
    margin-top: 1em;
    margin: 0 auto;
    margin-left: -1em;
}

.section-03 .div-5 p{
    font-size: 1em;
    color: white;
    font-weight: 300;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: -2em;
}

.section-03 button{
    padding: 0.5em;
    font-size: 1.1em;
    margin-top: 5rem;
    margin-left: 22em;
    border-radius: 0.8em;
    
}

.section-03 button:hover{
    cursor: pointer;
    border-color: white;
    background-color: #f0ad50;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
    transform: scale(1.1, 1.1);
    transition: 0.8s;
}



.section-04{
    padding: min(40vh, 5rem);
    width: 100%;
}

.section-04 .div-video{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.section-04 .div-video img{
    width: 18em;
    height: 17em;
}

.section-04 .div-video img:hover{
    cursor: zoom-in;
}

.section-04 .h2-1{
    font-size: 3em;
}

.section-04 p{
    font-size: 1em;
    margin-top: 1em;
}

.section-04 h2{
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

footer{
    background-color: #d5912f;
    padding: min(5vh, 5rem);
}

footer .div-8{
    display:  flex;
    flex-direction: column;
}
footer .div-pai-2{
    display: flex;
    margin-top: 2em;
    gap: 10em;
}

.div-8 i{
    font-size: 2em;
    margin-bottom: 0.5em;
}

.div-8 a{
    text-decoration: none;
    color: black;
}

footer i{
    font-size: 2em;
}

footer .div-pai-2 i{
    color: black;
}













/*Inicio do @media*/
@media (max-width:834px){
    header{
        display: block;
    }
    header h1{
        width: 100%;
        display: flex;
        font-size: 5.9em;
        z-index: 999;
        margin-top: 0.1em;
        margin-bottom: 0.8em;
        align-items: center;
        justify-content: center;
    }
    header a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5em;
    }


    .section-01{
        padding: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .section-01 .div-uma{
        margin-left: -10em;
    }
    .section-01 .div-uma h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font: 2.3em sans-serif;
        margin-top: -6em;
    }
    .section-01 .div-uma p{
        letter-spacing: 0.2em;
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        margin-left: 1em;
    }
    .div-uma button{
        margin-left: 1em;
        margin-top: 1.4em;
        font-size: 1.3em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .section-01 .div-video{
        margin-left: -14.5em;
        
    }
    .section-01 .div-video video{
        width: 35rem;
        margin: 0 2rem;
    }
    .div-video p{
        font-size: 1.3em;
        margin-top: 0.4rem;
        margin-left: 2em;
    }
    .section-02{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-02 .div-2 h2{
        font-size: 0.8rem;
        line-height: 1.5;
        padding: 1em;
        margin-left: -11em;
    }
    .section-02 .div-2 p{
        margin-top: -1em;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 2.8rem;
        text-align: center;
        margin-left: -3em;
       
    }
    .section-02 .div-pai-3{
        display: block;
        margin-top: -8em;
        margin-left: 2em;
    }
    .section-02 .div-3{
        margin-left: -21em;
        font-size: 0.6em;
        padding: 1em;
        text-align: center;
        
    }
    .section-02 .div-4{
        font-size: 1.1em;
        gap: 0;
        gap: 2.5em;
        margin-left: -10.5em;
        margin-top: -5em;
    }
    .section-02 button{
        margin-left: -12em;
        font-size: 0.8em;
    }
    .section-03{
        padding: min(20vh, 5rem);
    }
    .section-03 .h2{
        margin-left: 0.2em;
       margin-top: 1em;
    }
    .section-03 .div-pai{
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 5em;
        margin-top: 5em;
    }

    .section-03 .div-5 i{
        display: block;
        margin: 0 auto;
        
    }
    .section-03 ,.div-5 h2{
        margin-top: 0.5em;
    }
    .section-03 .div-button{
        width: 0 auto;
        text-align: center;
        margin-left: 18em;
    }
    .section-03 .div-button button{
        margin-left: -18em;
    }
    .whatsapp img{
        width: 3.5rem;
    }
    .section-03 .div-5 p{
        font-size: 1em;
        margin: 0 1em;
        margin-left: -5em;
    }
     .section-04 .div-video{
        display: block;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .section-04 .div-video img{
        margin-bottom: 1em;
        margin-left: em;
    }
    footer .div-9 h2{
        font-size: 1.5em;
    }
    footer .div-pai-2{
        display: block;
        
    }
    footer .div-8{
        margin-bottom: 1.5em;
    }






    @media (max-width:766px){
        .section-01 .div-video video{
            width: 25rem;
            margin: 0 2rem;
        }
    }
    
     



}